* {
    box-sizing: flex-box;
}

body {

    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin-left: 30%;
    background-color: black;
}

.container-fluid {
    background-color:  hsl(210, 60%, 12%);
    height: 100%;
    max-width: 1400px;
    position: relative;
    

}
.container-pop {
    border: 2px solid orange ;
    width: 250px;
    height: 450px;
   margin-left: 40%;
    margin-top: 5%;
    border-radius: 30px;
    position: absolute;
    box-shadow: black;
}
.container-fluid .container-pop .headline {
    color: #fff;
    padding: 5px;
    font-size: 10px;
    
}
.image img {
    height: 230px;
    width: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.image{
    border: 1px solid yellow ;
    text-align: center;
    border-radius: inherit;
}
.headline{
    border: 2px solid red;
    height: 50px;
}
.headline p {
    color: #fff;
    font-size: 14pt;
}
.price-day{
    border: 2px solid green;
    height: 40px;
    color: cyan;

}
.price-day *{
    float: left;
}
.price{
    width: 50%;
    text-align: center;
}
.days {
    border: 1px solid red ;
    width: 50%;
    height: inherit;
    color: rgb(101, 230, 230);
}
.desc {
    border: 2px solid purple ;
    color: blanchedalmond;
}

.footer {
    border: 1px solid red ;
}
.footer *{
    float: left;
}
.avatar {
    border: 1px solid red ;
    height: 50px;
    width: 20%;
    margin-left: 10px;
}
.author {
    border: 1px solid red ;
    height: 50px;
    width: 75%;
}